$color-black: #000;
$color-white: #fff;
$color-Ruined-Smores: #0e1118;
$Spanish-Grey: #989898;
$color-Orange: #fe5824;
$color-Albescent-White: #f7e9d1;
$color-chinese-black: #18150e;
$z-indexes: ("preloader", "hero");
$audience-tab-height: 4rem;
$padding: 0.8rem;
$color-team-text: #101828;
$color-team-desc: #475467;
